
:root {
  --DnDBlack: #030303;
  --DnDDark: #290000;
  --DnDRed: #930C10;
  --DnDGold: #F7CE65;
  --DnDLight: #FFFEBD;
  --White: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--DnDDark);
  text-align: center;

  min-width: 320px; /*Smallest device width in browser dev tools (iphone 5/SE)*/
}

p {
  color: var(--White);
}